
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body ngNativeValidate class="bg-gray-200 flex items-center justify-center min-h-screen bg-linear-to-bl from-violet-500 to-blue-500">
    
    <form #data="ngForm" (submit)="onSubmit(data)" class="bg-white/10 shadow-2xl rounded-xl p-8 w-full max-w-md space-y-5">
        <h2 class="text-3xl font-bold text-center text-gray-800">Login</h2>
        <div>
                 <label class="block text-black font-semibold mb-1">Enter Email</label>
                 <input type="email" name="email" #loginmail="ngModel" [(ngModel)]="login_data.email" email required class="w-full p-1 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" >
        <p *ngIf="loginmail.touched && !loginmail.valid" class="text-red-500 text-sm mt-1">This is Required and follow proper mail formate</p>
        </div>

        <div>
        <label class="block text-black font-semibold mb-1">Enter Password</label>
        <input type="text" #loginpassword="ngModel"  name="password" [(ngModel)]="login_data.password" required class="w-full p-1 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
          <p *ngIf="loginpassword.touched && !loginpassword.valid" class="text-red-500 text-sm mt-1 ">This is Required</p>
          </div>
        <input type="submit" value="login" [disabled]="!data.valid" class="w-full bg-blue-600 text-white py-3 rounded-lg font-semibold  hover:bg-blue-700 disabled:bg-gray-400 disabled:cursor-not-allowed">
    </form>
</body>
</html>